<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <p>Hi {{name}},</p>
    <p>You requested to verify your email.</p>
    <p> Please, click the link below to verify your email.</p>
    <a href="http://{{link}}">Verify</a>
  </body>
</html>